<h2>Product list</h2>
<div class="form-row form-group">
    <div class="col">
      <input type="text" class="form-control" placeholder="Name Product" #name>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Price" #price>
    </div>
    <div class="col">
      <input type="button" class="btn btn-primary" value="Add" (click)="addProduct(name.value, price.value)">
     </div>
</div>
<div class="form-row form-group">
  <div class="col-4">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchProduct">
    </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col" (click)="changeOrder()">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products | search : searchProduct | sort : direction; let i = index" app-row-product [product]="item" [id]="i" (deleteItem)="deleteProduct($event)">
    </tr>
  </tbody>
  <tfoot>
    <td>Total</td>
    <td></td>
    <td>{{ products | search : searchProduct | sum : 'price' | currency}}</td>
    <td></td>
  </tfoot>
</table>
  